{% extends 'base.html.twig' %}

{% block title %}INSTAGUI{% endblock %}

{% block Navbar %}
 {{parent()}}
{% endblock %}
{% block Section %}
      <!-- Counts Section -->
      
      <section class="dashboard-counts section-padding">
          <div class="container-fluid row">
              <!--user profil -->
              <div class="col-5">
                  <div class="card">
                      <div class="card-body">
                          <div class="sidenav-header-inner text-center row">
                              <div class="col-4">
                                  <img src="{{asset('assets/img/avatar.png')}}" alt="person" class="img-fluid rounded-circle">
                              </div>
                              <div class="media-body col-8">
                                  <h4>Profile</h4>
                                  <p class="text-muted mb-0"> <h6>{{ user.username }}</h6></p>
                                  <h6><p class="text-muted mb-0">{{ user.email }}</p></h6>
                              </div>
                          </div>
                      </div>
                  </div>
                  <form class="card" name="profile">
                      <div class="card-header">
                          <h3 class="card-title">Edit Profile</h3>
                      </div>
                      <div class="card-body">
                          <div class="row mb-3">
                              <div class="col-auto d-flex align-items-center"><span style="background-image: {{asset('assets/img/avatar.png')}}" class="avatar avatar-lg"></span></div>
                              
                          </div>
                          <div class="form-group">
                              <label class="form-label">Email</label>
                              <input placeholder="you@domain.com" name="email" class="form-control">
                          </div>
                          <div class="form-group">
                              <label class="form-label">Password</label>
                              <input type="password"  name="pwd" class="form-control">
                          </div>
                          <div class="form-group">
                              <label class="form-label">Confirm Password</label>
                              <input type="password"  name="pwdConfirm" class="form-control">
                          </div>

                      </div>
                      <div class="card-footer text-right">
                          <button class="btn btn-primary" onclick="editProfile()">Save</button>
                      </div>
                  </form>
              </div>
              <!--intagram profil -->
              <div class="col-7">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Your Instagram accounts</h3>
                      </div>
                      <div class="card-body">
                          <ul style="height: 120px;overflow:auto;" class="list-group">
                              {% if accounts %}
                                  {% for i in accounts %}
                                  <li class="list-group-item"> {# Need to add .active #}
                                      {{ i.username }} {# Need to add delete button and modify button #}  <i class="fas fa-minus-circle text-danger" style="float: right;" onclick="deleteAccount(this)"></i>
                                  </li>
                                  {% endfor %}
                              {% else %}
                                  No accounts found, please add some below
                              {% endif %}
                          </ul>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header{% if not accounts %} bg-danger{% endif %}">
                          <h3 class="card-title{% if not accounts %} text-white{% endif %}">Add an Instagram account</h3>
                      </div>
                      <div class="card-body">
                          <div class="row mb-3">
                              <div class="col-auto d-flex align-items-center"><span style="background-image: {{asset('assets/img/instagram.jpg')}}" class="avatar avatar-lg"></span></div>
                          </div>
                          <div class="form-group">
                              {{ form(form) }}
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-12">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Proxy</h3>
                      </div>
                      {% if accounts %}
                      <div class="card-body">
                          <div class="form-group">
                              <label for="proxy">
                                Please enter a proxy
                              </label>
                              <input type="" class="form-control" id="proxy" placeholder="enter a proxy" {% if proxy %}value="{{ proxy }}"{% endif %}/>
                              <small class="form-text text-muted" id="">user:pass@iporhost:port or iporhost:port</small>
                              <small class="form-text text-muted text-info">Instagram might suspect your IP if not same country, please log in from browser first with your proxy ip</small>
                              <button class="btn btn-primary float-right ml-2" id="add" onclick="testProxy(this)">Save</button>
                              <button class="btn btn-secondary float-right" id="test" onclick="testProxy(this)">Test proxy</button>
                          </div>
                      </div>
                      {% else %}
                          No accounts found, please add some above
                      {% endif %}
                  </div>

              </div>
          </div>
      </section>
       
{% endblock %}
{% block Footer %}
{{parent()}}
{% endblock %}

