{% extends 'base.html.twig' %}

{% block title %}INSTAGUI{% endblock %}

{% block Navbar %}
    {{parent()}}
{% endblock %}
{% block Section %}
    <div class="container">
        <section class="section-padding">
            <div class="row">
                {% if pseudos == 0 or hashtags == 0 %}
                    <div class="alert alert-danger m-2" role="alert">
                        No Instagram account found ! Please add one first by clicking below
                    </div>
                    <a class="m-2 justify-content-center" href="profile"><button class="btn btn-success">Click here</button></a>
                {% else %}
                {# THREE cards where created #}
                <div class="card col-sm">
                    <div class="card-header">
                        <h5>Pseudos @
                            <a class="position-absolute" style="right: 1em" href="#">
                                <i class="fas fa-plus" data-toggle="modal" data-target="#exampleModal"></i>
                            </a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul style="height: 75%;overflow:auto;" id="sPseudoUL" class="list-group">
                        {% if pseudos %}
                            {% for i in pseudos %}
                                <li id="sPseudo" class="list-group-item"> {# Need to add .active #}
                                    {{ i }} <i class="fas fa-minus-circle text-danger" style="float: right;" onclick="deleteSettings(this)"></i>
                                </li>
                            {% endfor %}
                        {% else %}
                             add some pseudos ...
                        {% endif %}
                        </ul>
                        <button class="btn btn-outline-danger">Delete all</button>
                    </div>
                </div>
                <div class="vl" style="border-left: 6px solid green; border-left-color: #33b35a; height: 500px;"></div>
                <div class="card col-sm">
                    <div class="card-header">
                        <h5>Hashtag #
                            <a class="position-absolute" style="right: 1em" href="#">
                                <i class="fas fa-plus" data-toggle="modal" data-target="#exampleModal"></i>
                            </a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul style="height: 75%;overflow:auto;" id="sHashUL" class="list-group">
                            {% if hashtags %}
                                {% for i in hashtags %}
                                    <li id="sHash" class="list-group-item"> {# Need to add .active #}
                                        {{ i }} <i class="fas fa-minus-circle text-danger" style="float: right;" onclick="deleteSettings(this)"></i>{# Need to add delete button and modify button #}
                                    </li>
                                {% endfor %}
                            {% else %}
                                add some hashtags  ...
                            {% endif %}
                        </ul>
                        <button class="btn btn-outline-danger">Delete all</button>
                    </div>
                </div>
                <div class="vl" style="border-left: 6px solid green;border-left-color: #33b35a; height: 500px;"></div>
                <div class="card col-sm">
                    <div class="card-header">
                        <h5>Blacklist <i class="fas fa-list"></i>
                            <a class="position-absolute" style="right: 1em" href="#">
                                <i class="fas fa-plus" data-toggle="modal" data-target="#exampleModal"></i>
                            </a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul style="height: 120px;overflow:auto;" id="sBlackUL" class="list-group">
                            {% if blacklist %}
                                {% for i in blacklist %}
                                    <li id="sBlack" class="list-group-item"> {# Need to add .active #}
                                        {{ i }} <i class="fas fa-minus-circle text-danger" style="float: right;" onclick="deleteSettings(this)"></i>{# Need to add delete button and modify button #}
                                    </li>
                                {% endfor %}
                            {% else %}
                                 add some blacklist terms ...
                            {% endif %}
                        </ul>
                        <button class="btn btn-outline-danger">Delete all</button>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a keyword!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="Pseudo" aria-label="Pseudo" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="sPseudo" onclick="searchSettings(this)"><i class="fas fa-plus"></i></button>
                            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">#</span>
                        <input type="text" class="form-control" placeholder="Hashtag" aria-label="Hashtag" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="sHash" onclick="searchSettings(this)"><i class="fas fa-plus"></i></button>
                            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-exclamation-circle"></i></span>
                        <input type="text" class="form-control" placeholder="Blacklist keyword" aria-label="Blacklist keyword" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="sBlack" onclick="searchSettings(this)"><i class="fas fa-plus"></i></button>
                            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onClick="window.location.reload()" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block Footer %}
    {{parent()}}
{% endblock %}

