{% extends 'base.html.twig' %}

{% block title %}INSTAGUI{% endblock %}

{% block Navbar %}
 {{parent()}}
{% endblock %}
{% block Section %}
    {% if user %}
    <section class="dashboard-counts section-padding">
      <div class="container-fluid">
          <div class="card">

              <div class="card-header card-header-transparent">
                  <div class="row">

                      <div class="col-2 ">
                          <img src="{{user.profile_pic_url}}" alt="person" class="img-fluid img-responsive rounded-circle">
                      </div>
                      <div class="col-10 ">
                          <h5 class="card-title text-uppercase">{{ user.username }}</h5>
                          <h6 class="text-uppercase">{{ user.full_name }}</h6>
                          <p class="card-text">{{ user.biography }}</p>
                      </div>
                </div>
              </div>

              <div class="card-body">
                  <div class="row">
                      <!-- Count item widget-->

                      <div class="col-4">
                          <div class="wrapper count-title d-flex justify-content-start">
                              <div class="icon"><i class="fas fa-heart d-flex justify-content-start"></i></div>
                              <div class="name">
                                  <strong class="text-uppercase d-flex justify-content-center">Abonnées </strong><span> </span>
                                  <div class="text-dark   h1 d-flex d-flex justify-content-start">{{ user.follower_count }}</div>
                              </div>
                          </div>
                      </div>

                      <!-- Count item widget-->
                      <div class="col-4">
                          <div class="wrapper count-title d-flex justify-content-start">
                              <div class="icon"><i class="fas fa-grin-hearts d-flex justify-content-start"></i></div>
                              <div class="name"><strong class="text-uppercase d-flex justify-content-start">Funs </strong><span> </span>
                                  <div class="text-dark   h1 d-flex justify-content-start">3424</div>
                              </div>
                          </div>
                      </div>

                      <!-- Count item widget-->
                      <div class="col-4">
                          <div class="wrapper count-title d-flex justify-content-start">
                              <div class="icon"><i class="fas fa-user-plus d-flex justify-content-start"></i></div>
                              <div class="name"><strong class="text-uppercase d-flex justify-content-start">Abonnement</strong><span> </span>
                                  <div class="text-dark   h1 d-flex d-flex justify-content-start">{{ user.following_count }}</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row  h-100">
                  <div class="col-12">
                      <div class="card-body">
                          <canvas id="follow"></canvas>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <div class="form-group row container">
                      <div class="col-lg-3 col-sm-12">
                          <select class="selectpicker">
                              <option>all</option>
                              <option>year</option>
                              <option>month</option>
                              <option>week</option>
                          </select>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                          <input class="form-control" id="dateDebut" name="dateDebut" placeholder="Date de début" type="text"/>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                          <select class="selectpicker">
                              <option>accrued</option>
                              <option>separate</option>
                          </select>
                      </div>
                      <div class="col-3 col-sm-12">
                          <button class="btn btn-primary  float-right">Reload</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>

    <!-- Statistics Section-->
    <section class="">
    </section>
    <!-- Updates Section -->
    {% else %}
        <div class="alert alert-danger m-2" role="alert">
            No Instagram account found ! Please add one first by clicking below
        </div>
        <a class="m-2 justify-content-center" href="profile"><button class="btn btn-success">Click here</button></a>
    {% endif %}
{% endblock %}
{% block Footer %}
{{parent()}}
{% endblock %}