{% block top %}
<div class="container">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header d-flex align-items-center ">
                    <div class="col-6">   
                    <h4 class="float-left">{{ bot }} bot </h4>
                    </div>
                    <div class="col-2">
                    <input type="checkbox" id="{{ bot }}" name="toggle-event" class="justify-content-end" data-onstyle="success" checked data-toggle="toggle" onchange="run_bot(this)">
                    
                    </div>
                    
                     <div class="col-3">
                     <ul class="nav nav-tabs" id="tab-{{bot}}" role="tablist">
                        <li class="nav-item">
                        <a class="nav-link active" id="config-tab-{{bot}}" data-toggle="tab" href="#config-{{bot}}" role="tab" aria-controls="config-{{bot}}" aria-selected="true"><span class="fa fa-gear"></span></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" id="slots-tab-{{bot}}" data-toggle="tab" href="#slots-{{bot}}" role="tab" aria-controls="slots-{{bot}}" aria-selected="false"><span class="fa fa-clock-o"></span></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" id="news-tab-{{bot}}" data-toggle="tab" href="#news-{{bot}}" role="tab" aria-controls="news-{{bot}}" aria-selected="false"><span class="fa fa-newspaper"></span></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" id="help-tab-{{bot}}" data-toggle="tab" href="#help-{{bot}}" role="tab" aria-controls="help-{{bot}}" aria-selected="false"><span class="fa fa-question-circle"></span></a>
                        </li>
                     </ul>
                    </div>
                    <a data-toggle="collapse" href="#collapse-{{ bot }}" aria-expanded="false" aria-controls="collapse-{{ bot }}" id="{{ bot }}" >
                       <i class="fa fa-chevron-down pull-right"></i>  
                    </a>       
                </div>
                <div id="collapse-{{ bot }}" class="collapse show card-body" aria-labelledby="{{ bot }}" > 
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="config-{{bot}}" role="tabpanel" aria-labelledby="config-tab-{{bot}}">
                      <div class="card-header">
                        <h4>Paramétrage</h4>
                       {% endblock %}
                       {% block config %} {% endblock %}
                       {% block bottom %}
                       </div> 
                      </div>
                      <div class="tab-pane fade" id="slots-{{bot}}" role="tabpanel" aria-labelledby="slots-tab-{{bot}}">
                      
                                  <div class="col-lg-12">
                          <div class="card">
                            <div class="card-header row">
                              <h4 class="col-10">Créneaux</h4>
                            </div>
                            <div class="card-body">
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                     {% for i in 0..11 %}
                                      <th>{{ i|length == 1 ? 0 }}{{i}}:00 {{ i|length == 1 ? 0 }}{{ i +1 }}:00 </th>
                                      {% endfor %}
                                      <!-- Button trigger modal -->


                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      {% for i in 0..11 %}
                                      <th><button id="{{ i }}" data-toggle="modal" data-target="#exampleModal" class="btn {{i%2==1? "btn btn-basic" :"btn btn-primary" }}"></th>
                                      {% endfor %}
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                       {% for i in 11..23 %}
                                       <th >{{ i|length == 1 ? 0 }}{{i}}:00 {{ i|length == 1 ? 0 }}{{ i +1 }}:00 </th>
                                       {% endfor %}
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      {% for i in 11..23 %}
                                      <th><button id="{{ i }}" data-toggle="modal" data-target="#exampleModal" class="btn {{i%2==1? "btn btn-basic" :"btn btn-primary" }}"></th>
                                      {% endfor %}
                                    </tr>
                                  </tbody>
                                </table>
                              </div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="news-{{bot}}" role="tabpanel" aria-labelledby="news-tab-{{bot}}">
                        
                       <div class="col-lg-12">
              <div class="card">
                <div class="card-header row">
                  <h4 class="col-10">Journal d'activité</h4>
                   <span class="fa fa-refresh col-2"></span>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Identifiant</th>
                          <th>Nom</th>
                          <th>Prénom</th>
                          <th>Username</th>
                          <th>Date</th>
                          <th>time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>577324324</td> 
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                          <td>13-02-2019</td>
                          <td>17:30</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>687824324</td>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                          <td>13-02-2019</td>
                          <td>17:30</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>654324324</td>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                          <td>13-02-2019</td>
                          <td>17:30</td>
                        </tr>
                      </tbody>
                      
                    </table>
                  </div>
                </div>
              </div>
            </div>   

           



                      </div>
                      <div class="tab-pane fade" id="help-{{bot}}" role="tabpanel" aria-labelledby="help-tab-{{bot}}">
                       <div class="card">
                            <div class="card-header row">
                              <h4 class="col-10">Help</h4>
                            </div>
                         </div>   
                      </div>
                    </div>
                </div>
              </div>
            </div>
         </div> 
          <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Créneau hh:00 to hh:00</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Désactiver</button>
        <button type="button" class="btn btn-primary">Activer</button>
      </div>
    </div>
  </div>
</div> 
{% endblock %}