{% extends "instagui/component/baseBot.html.twig" %}
{% block top %}{{ parent() }}{% endblock %}
{% block config %}

<div class="section-padding">
                            <form>
                              
                              
                              <div class="form-group row">
                              <label class="form-control-label col-3 vcenter">day to unfollow </label>
                              
                              <input id="number" data-prefix="jours" type="number" value="6" class="col-6">
                              </div>
                               <div class="form-group row">
                              <label class="form-control-label col-3">Add to blackList </label>
                                <div class="i-checks col-3 ">
                                    <input id="radio-{{bot}}-oui" type="radio" value="1" name="radio-{{bot}}" class="form-control-custom radio-custom">
                                    <label for="radio-{{bot}}-oui">Oui</label>
                                  </div>
                                  <div class="i-checks col-3">
                                    <input id="radio-{{bot}}-non" type="radio" checked="" value="0" name="radio-{{bot}}" class="form-control-custom radio-custom">
                                    <label for="radio-{{bot}}-non">Non</label>
                                  </div>
                              </div>
                              
                              
                                
                            </form> 
                             <div class="form-group">
                                   <button class="btn btn-primary float-right">Enregistrer</button>  
                              </div>
</div>                  

{% endblock %}
{% block bottom %}{{parent()}}{% endblock %}